<div class="page" style="max-width: 500px; margin: auto;">
   <div class="page page-stretch">
      <h2><span *ngIf="!editName">{{plan.name}}</span>
         <input *ngIf="editName" class="input-box input-box-main" type="text" [(ngModel)]="plan.name">
         <button class="btn btn-link btn-lg" (click)="editName = !editName">
            <i class="fa fa-pencil"></i>
         </button>
      </h2>

      <div *ngIf="viewOptions.showPlanStats" class="plan-stats">
         <div>
            <span class="stat-value">{{plan.planStats.executionTime | duration}}</span>
            <span class="stat-label">execution time ({{plan.planStats.executionTime | durationUnit}})</span>
         </div>
         <div *ngIf="plan.planStats.planningTime">
            <span class="stat-value">{{plan.planStats.planningTime | number:'.0-2'}}</span>
            <span class="stat-label">planning time (ms)</span>
         </div>
         <div *ngIf="plan.planStats.maxDuration">
            <span class="stat-value">{{plan.planStats.maxDuration | duration}}</span>
            <span class="stat-label">slowest node ({{plan.planStats.maxDuration | durationUnit}})</span>
         </div>
         <div *ngIf="plan.planStats.maxRows">
            <span class="stat-value">{{plan.planStats.maxRows | number:'.0-2'}}</span>
            <span class="stat-label">largest node (rows)</span>
         </div>
         <div *ngIf="plan.planStats.maxCost">
            <span class="stat-value">{{plan.planStats.maxCost | number:'.0-2'}}</span>
            <span class="stat-label">costliest node</span>
         </div>
         <div class="btn-close" (click)="viewOptions.showPlanStats = false"><i class="fa fa-close"></i></div>
      </div>

      <div class="plan">
         <ul>
            <li>
               <plan-node [plan]="plan" [node]="rootContainer.Plan" [viewOptions]="viewOptions"></plan-node>
            </li>
         </ul>
      </div>
   </div>
</div>