<div class="pre-scrollable">
  <div class="card text-left">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active">Introduction</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">Welecome to Extension Manager!</h5>
      <p class="card-text">This is extension manager UI. You can check the list of extension and get the detail of extension that you are inerested in.</p>
    </div>
  </div>
</div>
