<nav>
  <div class="nav-container">
     <a class="about"[routerLink]="['/about']">About</a>
     <a class="btn btn-primary btn-lg pull-right" [routerLink]="['/plans/new']">new plan</a>
     <a [routerLink]="['/plans']">Plans</a>
  </div>
</nav>

<router-outlet></router-outlet>

<footer><strong>npev</strong> is made by
  <a href="http://github.com/xiayingyin">Xia Yingyin</a>
  <a href="https://twitter.com/AlexTatiyants"><i class="fa fa-twitter"></i></a>
  <a href="https://github.com/xiayingyin"><i class="fa fa-github"></i></a>
</footer>
