<mat-drawer-container class="ext-home-container" autosize>

  <mat-drawer #drawer class="ext-home-sidenav" mode="side" opened>
    <nav id="sidebar">
      <app-ext-select></app-ext-select>
      <app-ext-list></app-ext-list>
    </nav>
  </mat-drawer>

  <div class="ext-home-sidenav-content">
    <mat-toolbar>
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>