<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <table class="table">
      <thead>
        <tr>
          <th width="10%">ID</th>
          <th width="45%">Extension</th>
          <th width="45%">Operations</th>
        </tr>
      </thead>
      
    </table>
    <div class="pre-scrollable">
      <table class="table">
          <tr *ngFor="let ext of extNameList; let i=index">
            <td width="10%">{{i+1}}</td>
            <td width="45%">
              {{ext}}
            </td>
            <td width="45%">
              <div class="btn-group btn-xs">
                <button type="button" [routerLink]="['/ext/info', ext]" class="btn btn-mini btn-info">Check</button>
                <button type="button" [routerLink]="['/ext/del']" class="btn btn-mini btn-danger">Delete</button>
              </div>  
            </td>
          </tr>
      </table>
    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content">
   <router-outlet></router-outlet>
  </div>
</div>