.explorer-tree-invisible {
    display: none;
}

/* .example-tree ul,
.example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
} */

.mat-tree-node {
    cursor: pointer;
    /* background-color: #EEE; */
    margin-top: 0;
    margin-bottom: 0;
}

.mat-tree-node:hover {
    color: #607D8B;
    background-color: #DDD;
    /* left: .1em; */
}

.background-highlight {
    color: #607D8B;
    background-color: #DDD;
}