<div class="pre-scrollable">
  <div class="card text-left">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active">Introduction</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ extInfo.name }}  {{extInfo.version}}</h5>
      <div *ngIf="!ifEdit; else elseBlock">
        <p class="card-text">{{ extInfo.description }}</p>
        <button class="btn btn-primary" (click)="editExtDesc()">Edit</button>
      </div>
      <ng-template #elseBlock>
        <div class="input-group">
          <textarea class="form-control" aria-label="With textarea" ref-textarea [(ngModel)]="DescText" rows=6></textarea>  
        </div>
        <br/>
        <div align="right">
          <button class="btn btn-primary" type="submit" (click)="saveExtDesc()">Save</button>
        </div>
      </ng-template>  
    </div>
  </div>
  <div class="card text-left">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active">Functions</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">function pg_file_rename(text,text)</li>
        <li class="list-group-item">function pg_file_rename(text,text,text)</li>
        <li class="list-group-item">function pg_file_unlink(text)</li>
        <li class="list-group-item">function pg_file_write(text,text,boolean)</li>
        <li class="list-group-item">function pg_logdir_ls()</li>
      </ul>
    </div>
  </div>
  <div class="card text-left">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active">Operators</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">operator pg_file_rename(text,text,text)</li>
        <li class="list-group-item">operator pg_file_unlink(text)</li>
        <li class="list-group-item">operator pg_file_write(text,text,boolean)</li>
        <li class="list-group-item">operator pg_logdir_ls()</li>
      </ul>
    </div>
  </div>
  <div *ngIf="extInfo.type !== 3">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active">Performance</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <!-- <h5 class="card-title">Special title treatment</h5> -->
        <nav class="navbar navbar-light bg-light row">
          <div class="container">
            <!-- <div class="input-group col-md-6">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">{{ extInfo.name }}</label>
              </div>
              <button type="button" class="btn btn-primary" (click)="onClick($event)">Test it again!</button>
            </div> -->
            <form class="form-inline col-md-6">
              <input class="form-control mr-sm-2" type="search" placeholder="Extension" aria-label="Search">
              <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Compare</button> -->
              <button type="button" class="btn btn-primary" (click)="onClick($event)">Test or Compare</button>
            </form>
          </div>
        </nav>

        <div *ngIf="!testComplete; else elseBlock">
          <div class="card text-center">
            <div class="card-body">
              <p class="card-text">
                <br>
                <br>
                <br>
                <br>
                <br>
              </p>
              <div align="center">
                <mat-spinner></mat-spinner>
              </div>
              <p class="card-text">
                <br>
                <br>
                <br>
                <br>
                <br>
              </p>
            </div>
          </div>
        </div>
        <ng-template #elseBlock>
          <app-ext-chart [barChartData]="barChartDataSet" [barChartLabels]="barChartLabels" [extName]="extInfo.name">
          </app-ext-chart>
        </ng-template>
      </div>
    </div>
  </div>
</div>