<div class="pre-scrollable">
  <div class="card text-left">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active">Introduction</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ extInfo.name }} {{extInfo.version}}</h5>
      <div *ngIf="!ifEdit; else elseBlock">
        <p class="card-text">{{ extInfo.description }}</p>
        <button class="btn btn-primary" (click)="editExtDesc()">Edit</button>
      </div>
      <ng-template #elseBlock>
        <div class="input-group">
          <textarea class="form-control" aria-label="With textarea" ref-textarea [(ngModel)]="DescText"
            rows=6></textarea>
        </div>
        <br />
        <div align="right">
          <button class="btn btn-primary" type="submit" (click)="saveExtDesc()">Save</button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="card text-left">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active">Functions</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let function of extFuncList">{{function}}</li>
      </ul>
    </div>
  </div>
  <div class="card text-left">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active">Operators</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let operator of extOptList">{{operator}}</li>
      </ul>
    </div>
  </div>
  <div class="card text-left">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active">Type</a>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let type of extTypeList">{{type}}</li>
      </ul>
    </div>
  </div>
  <div *ngIf="extInfo.type !== 3">
    <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link active">Performance</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        <app-ext-test [extName]="extName"></app-ext-test>
      </div>
    </div>
  </div>
</div>