<div style="display: block;" *ngIf="displayFlag; else elseBlock">
  <canvas baseChart 
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [legend]="barChartLegend"
    [chartType]="barChartType">
  </canvas>
</div>
<ng-template #elseBlock>
  <div align="center">
    <div class="card text-center">
      <div class="card-body">
        <p class="card-text">
          <br>
          <br>
          <br>
          <br>
          <br>
        </p>
        <h5 class="card-text">There are no test data!</h5>
        <p class="card-text">
          <br>
          <br>
          <br>
          <br>
          <br>
        </p>
      </div>
    </div>
  </div>
</ng-template>
